body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./assests/WhatsApp\ Image\ 2023-10-09\ at\ 3.03.57\ PM\ \(2\).jpeg);
    background-size:cover;
}
.container{
    background-color: rgba(0, 0, 0, 0.439);
    padding:3%;
    border-radius: 5%;
}
.Input{
    height:45px;
    width:58%;
    color: black;
    font-size: 14px;
    border-radius: 12px;
    padding:0px 0px 0px 2%;
}
.heading{
    padding:0px 0px 5px 0px;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.temperature{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:20px 0px 20px 0px;
}
button{
    margin:25px 0px 12px 29%;
    padding:19px;
    height:40%;
    width:40%;
    border-radius: 20px;
    background-color:aliceblue;
    border-color: black;
    border-width: 2px;
    color: black;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
